<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Universe Spy</title>
    <link rel="stylesheet" href="/assets/css/vendor/chartist.css">
    <link rel="stylesheet" href="/assets/css/vendor/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="charts container-fluid">
    </div>
    <script src="/assets/js/vendor/moment.min.js"></script>
    <script src="/assets/js/vendor/chartist.min.js"></script>
    <script src="/assets/js/vendor/chartist-plugin-tooltip.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/charts.js"></script>
  </body>
</html>
